

body {
    background-image: url("img_tree.png");
    background-repeat:no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}
body {
    background-color: #ffffff;
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 15em;
    padding: 10rem;

}

p1 {
    font-family: "emoji";
    font-size: 10px;
    margin-left: 10px;
}
p2 {
    font-family: ".VnTime";
    font-size: 15px;
    color: blue;
    margin-left: 10px;
}
p5 {
    text-align: left;
    font-family: ".VnTime";
    font-size: 15px;
    color: blue;

}
p6,p7 {
    text-align: left;
    font-family: ".VnTime";
    font-size: 13px;

    margin-left: 10cm;
}


p3 {
    font-family: "emoji";
    font-size: 10px;
}
p4 {
    font-family: ".VnTime";
    font-size: 15px;
}
fieldset{
    background-color: #ffffff;
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    width: 548px;
    height: 600px;

}
.center {
    margin: auto;
    width: 15%;
    border: 3px;
    background-color: #3941ff;
    padding: 2px;
    margin-left: 12em;
}
input[type='text'], input[type='password'],input[type='confirm'] textarea {
    border-color: #e4dedd;







